* {
    font-family:Helvetica
}
#header , #stopka{
    background-color: #00838F;
    color:white;
    padding: 5px;
    font-size: 130%;
    text-align: center;
}
#l ,#tabela {
    background-color: #EFEFEF;
    width: 55%;
    float:left;
}

#p {
    background-color: #4FB3BF;
    width: 45%;
    height: 450px;
    text-align: center;
    float:right
}
#img {
    box-shadow: 10px 10px 7px dimgray;
    margin: 20px;
}
#l{
    height: 150px;
}
#tabela {
    height: 300px
    
}
table {
    margin:auto;
    width: 80%;
    
}
tr :hover{
    background-color: #4FB3BF;
    
}
table, th,td{
    border: 1px solid #4FB3BF;
    border-collapse: collapse;
}
th,td {
    padding:4px;
}

